/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  padding: 1em;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
}
